*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	/* COLORES MIOS */
	--bg-color: #fff;
	--second-bg-color: #F1F1F1;
	--text-color: #000;
	--second-color: #3B3B3B;
	--main-color: #BF4CA9;
	--main-claro: #D59DCA;
	--negrita: #000;

	--big-font: 4rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;

	/* Verde */
	/* --main-color: #64F0A9; */
	/* Verde clarito */
	/* --main-claro: #caf1e1; */
}
/************ VARIABLES TEMA OSCURO ************/
body.dark-theme{
	--bg-color: #000;
	--second-bg-color: #3B3B3B;
	--text-color: #fff;
	--second-color: #F1F1F1;
	--main-color: #BF4CA9;
	--negrita: #000;

	/* Verde */
	/* --main-color: #64F0A9; */

}
/************ BOTON TEMA CLARO/OSCURO ************/
.nav__btns{
	display: flex;
	align-items: center;
}
.change-theme{
	cursor: pointer;
}
.change-theme:hover{
	color: var(--main-color);
}


body{
	background: var(--bg-color);
	color: var(--text-color);
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}
.logo{
	color: var(--text-color);
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}
span{
	color: var(--main-color);
}
.navlist{
	display: flex;
}
.navlist a{
	color: var(--second-color);
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}
.navlist a:hover{
	color: var(--main-color);
}
.navlist a.active{
	color: var(--main-color);
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	margin-left: 25px;
	display: none;
}

section{
	padding: 160px 15% 120px;
}





/********* INICIO *********/
.home{
	position: relative;
	height: 100vh;
	width: 100%;
	/*background-image: url(img/FondoBlanco.png);*/
	background-color: var(--bg-color);
	background-size: cover;
	background-position: center;
	
	align-items: center;
	justify-content: flex-start;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

}

.home-text h1{
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--text-color);
	line-height: 1.1;
	margin: 0 0 8px;
}
.home-text h3{
	color: var(--text-color);
	margin: 0 0 35px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.1;
}

.home-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 40px;
}
.button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn{
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}
.btn:hover{
	transform: scale(0.9);
}
.home-img{
	display: flex;
	justify-content: center;
}
.home-img img{
	max-width: 100%;
	width: fit-content;
	height: auto;
}

header.sticky{
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

/********* SOBRE MI *********/
.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
	background: var(--second-bg-color);
}
.about-img img{
	max-width: 530px;
	height: auto;
	width: 100%;
	border-radius: 8px;
}
.about-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.about-text h4{
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	line-height: 1.7;
	margin: 15px 0 30px;
}
.about-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 2rem;
}
.about-text a{
    color: var(--main-color);
}
.about-text b{
    color: var(--main-color);
}
.about-text .btn {
    color: var(--text-color);
}
.skills__personales{
	grid-column-start: 1;
  	grid-column-end: 3;
	align-items: center;
}
.skills__titulo{
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: .5rem;
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
	
}
.skills__name{
	margin-bottom: .25rem;
	font-size: 13px;
	font-weight: 500;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}



/*--------------------------------------------------------------
# FORMACIÓN
--------------------------------------------------------------*/
.resume .resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--text-color)
  }
  .resume .container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: baseline;
	gap: 2.5rem;
  }
  .resume .resume-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid var(--main-color);
	position: relative;
  }
  
  .resume .resume-item h4 {
	font-size: 20px;
	font-weight: 600;
	color: var(--text-color);
	line-height: 1.7;
	margin-bottom: 5px;
  }
  
  .resume .resume-item h5 {
	font-size: 16px;
	color: var(--negrita);
	background: var(--main-claro);
	border-radius: 10px;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
  }
  .resume .resume-item a {
	color: var(--main-color);
  }
  .resume .resume-item p {
	margin-bottom: 20px;
  }
  .resume .resume-item ul {
	padding-left: 20px;
  }
  
  .resume .resume-item ul li {
	padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
	padding-bottom: 0;
  }
  
  .resume .resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: var(--main-claro);
	border: 2px solid var(--main-color);
  }




/* CONOCIMIENTOS */
.conocimientos{
	background: var(--second-bg-color);
}
.main-text{
	text-align: center;
}
.main-text p{
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}
.main-text h2{
	font-size: var(--h2-font);
	line-height: 1;
	margin-bottom: 20px;
}
.skills__container{
	/*row-gap: 3.5rem;*/
	margin-left: 15;
	border: 1px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
	
}

.skills__title{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: .5rem;
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}
.skills__title i{
	font-size: 1rem;
	font-weight: initial;
}
.skills__info,
.skills_data,
.skills__blob{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-flow: wrap;
	margin: 20px;
}
.skills__info{
	gap: 2.5rem 2rem;
}
.skills__data{
	justify-content: center;
	text-align: center;
}
.skills__blob{
	justify-content: center;
	text-align: center;
	width: 80px;
	height: 100px;
	background-color: var(--bg-color);
	border-radius: 3rem;
	place-items: center;
	margin-bottom: 1rem;
	
}
.skills__blob img{
	width: 40px;
}
.skills__name{
	margin-bottom: .25rem;
}


/* ANIMACIONES */
.skills__blob:hover img{
	animation: bounce-skills .6s;
}
@keyframes bounce-skills{
	0%{
		transform: translate(0);
	}
	20%{
		transform: translateY(-6px);
	}
	40%{
		transform: translate(0);
	}
	60%{
		transform: translateY(-3px);
	}
	80%{
		transform: translate(0);
	}
}



/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}

.row{
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
}
.row img{
	width: 100%;
	border-radius: 8px;
	display: block;
	transition: transform 0.5s;
}
.layer{
	width: 100%;
	height: 0;
	/*background: linear-gradient(rgba(255, 255, 255, 0.1), var(--main-color));*/
	/*background: var(--main-color);*/
	background: radial-gradient(rgba(255, 255, 255, 0.832), var(--main-color));
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 40px;
	transition: height 0.5s;
}
.layer h5{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #000;
}
.layer p{
	color: #3B3B3B;
	font-size: 1rem;
	line-height: 1.8;
}
.layer i{
	color: var(--main-color);
	margin-top: 20px;
	font-size: 20px;
	background: #000;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.row:hover img{
	transform: scale(1.1);
	
}
.row:hover .layer{
	height: 100%;
}




/*************** CONTACTO ****************/
.contact{
	background: var(--second-bg-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}
.contact-text h4{
	color: var(--text-color);
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
}
.contact-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 30px;
}
.list{
	margin-bottom: 2.8rem;
}
.list li{
	margin-bottom: 12px;
}
.list li a{
	display: block;
	color: var(--second-color);
	font-size: 14px;
	transition: all .45s ease;
}
.list li a:hover{
	color: var(--text-color);
	transform: translateX(5px);
}
.contact-icons i{
	height: 45px;
	width: 45px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	transition: all .45s ease;
}
.contact-icons i:hover{
	background: var(--text-color);
	color: var(--main-color);
}

.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
	width: 100%;
	padding: 14px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}
.contact-form textarea{
	resize: none;
	height: 240px;
}
.contact-form .submit{
	display: inline-block;
	font-size: 16px;
	background: var(--main-color);
	color: var(--text-color);
	width: 160px;
	transition: all .45s ease;
}
.contact-form .submit:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.end{
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}
.last-text p{
	color: var(--second-color);
	font-size: 14px;
}
.top i{
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color: var(--text-color);
	background: var(--main-color);
}


@media (max-width: 1480px){
	header{
		padding: 12px 2.5%;
		transition: .1s;
	}
	header.sticky{
		padding: 10px 2.5%;
		transition: .1s;;
	}
	section{
		padding: 110px 3% 60px;
	}
	.end{
		padding: 15px 3%;
	}
	/*
	.home-img{
		width: fit-content;
	}
	*/
}

@media (max-width: 1100px){
	:root{
		--big-font: 4rem;
	  --h2-font: 2.5rem;
	  --p-font: 1rem;
	  transition: .1s;
	}
	.home-text h3{
		font-size: 2.5rem;
	}
	.home{
		height: 87vh;
	}
}

@media (max-width: 920px){
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
	.about-img img{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	.contact{
		grid-template-columns: 1fr;
	}
	.home{
		grid-template-columns: 1fr;
	}
	.home-img{
		text-align: center;
		order: 2;
	}
	.home-img img{
		width: 50%;
		height: auto;
	}
}

@media (max-width: 840px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		text-align: left;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 17px;
		font-size: 20px;
		transition: all .45s ease;
		color: var(--text-color);
	}
	.navlist a:hover{
		color: var(--main-color);
	}
	.navlist a.active{
		color: var(--text-color);
	}
	.navlist.open{
		top: 100%;
	}
}


@media (max-width: 400px){
	.home-img img{
		width: 100px;
		height: auto;
	}
}

/******************************************
* SCROLL BAR
******************************************/
